/* Write your CSS here */

.repos-list-item {
  list-style-type: none;
  padding-left: 0px;
  margin-left: 0px;
  display: flex;
  flex-direction: column;
  padding: 30px;
  background-color: #f8f8ff;
  border-radius: 15px;
  margin-right: 20px;
  margin-bottom: 20px;
  box-sizing: border-box;
}

.repo-img {
  width: 150px;
  height: 150px;
}

.repo-name {
  color: #e73959;
  font-size: 22px;
  font-weight: 700;
}

.count-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.counts-text {
  color: #1e293b;
  font-size: 15px;
  font-weight: 400;
}
